.sort-components {
  width: 80%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* _______________________________________ */
/* MEDIA QUERIES */
/* _______________________________________ */

@media (max-width: 945px) {
  .sort-components {
    width: 100%;
    justify-content: space-between;
  }
}
