/* SELL NOW : PUBLISH*/

.sell {
  background-color: #ebedee;
  padding: 30px 0;
}
.sell h1,
.sell h2 {
  width: max-content;
  margin: 30px auto;
}

.offer-form {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  flex-direction: column;
}

.offer-form .add-picture {
  width: 20%;
  margin: 30px auto;
}

.offer-form > div {
  box-shadow: 0 0 2px grey;
  margin-bottom: 20px;
  background-color: white;
}

.offer-form .input-line {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  padding: 25px;
}

.offer-form .input-line:last-child {
  border-bottom: none;
}

.offer-form .input-line label,
.offer-form .input-line input,
.offer-form .input-line textarea {
  width: 50%;
}

.offer-form .input-line input {
  border: none;
  border-bottom: 1px solid #dddddd;
  outline: none;
}

.offer-form .input-line textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid #dddddd;
  outline: none;
  height: 80px;
  font-family: inherit;
}

.offer-form .offer-price {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.offer-form .offer-price input[type="number"] {
  width: 100%;
}

.offer-form .offer-price div {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.offer-form .offer-price input[type="checkbox"] {
  width: 20px;
  margin-right: 20px;
}

.offer-form .offer-price label {
  width: 100%;
  font-size: 12px;
}

.offer-form input[type="submit"] {
  background-color: #3bc1c8;
  color: white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease;
}

.offer-form input[type="submit"]:hover {
  cursor: pointer;
  background-color: white;
  color: #3bc1c8;
}

/* _______________________________________ */
/* MEDIA QUERIES */
/* _______________________________________ */

@media (max-width: 449px) {
  .offer-form .input-line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offer-form .add-picture {
    margin: 30px 0;
  }

  .offer-form .input-line label {
    margin-bottom: 20px;
  }
}
