/* LOG */
.form {
  width: 20%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 600;
}

.form input {
  outline: none;
  border: none;
  border-bottom: 1px solid #dd9999;
  padding: 10px;
  font-size: 14px;
}

.newsletter {
  margin: 30px auto 0 auto;
}

.newsletter h4 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 13px;
  color: #d6d4d4;
}

.form .submit {
  margin-top: 30px;
  border: none;
  color: white;
  border-radius: 7px;
  background-color: #3bc1c8;
  border: 1px solid #3bc1c8;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.form .submit:hover {
  cursor: pointer;
  color: #3bc1c8;
  background-color: #fff;
  border: 1px solid #3bc1c8;
}

.link-to-signup-login {
  margin-top: 20px;
  color: #3bc1c8;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}

.unauthorized {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

/* _______________________________________ */
/* MEDIA QUERIES */
/* _______________________________________ */

@media (max-width: 1045px) {
  .form {
    width: 40%;
  }
}

@media (max-width: 945px) {
  .form {
    width: 40%;
  }
}

@media (max-width: 425px) {
  .form {
    width: 60%;
  }
}

@media (max-width: 320px) {
  .form {
    width: 80%;
  }
}
