.slider {
  width: 40%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider p {
  font-size: 12px;
}

/* _______________________________________ */
/* MEDIA QUERIES */
/* _______________________________________ */

@media (max-width: 432px) {
  .slider {
    width: 70%;
  }
}
